@font-face {
    font-family: 'MuseoSansRounded-100';
    src: url('/fonts/MuseoSans/MuseoSansRounded-100.eot');
    src: url('/fonts/MuseoSans/MuseoSansRounded-100.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSans/MuseoSansRounded-100.woff') format('woff'),
    url('/fonts/MuseoSans/MuseoSansRounded-100.ttf') format('truetype'),
    url('/fonts/MuseoSans/MuseoSansRounded-100.svg#MuseoSansRounded-100') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded-500';
    src: url('/fonts/MuseoSans/MuseoSansRounded-500.eot');
    src: url('/fonts/MuseoSans/MuseoSansRounded-500.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSans/MuseoSansRounded-500.woff') format('woff'),
    url('/fonts/MuseoSans/MuseoSansRounded-500.ttf') format('truetype'),
    url('/fonts/MuseoSans/MuseoSansRounded-500.svg#MuseoSansRounded-500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded-900';
    src: url('/fonts/MuseoSans/MuseoSansRounded-900.eot');
    src: url('/fonts/MuseoSans/MuseoSansRounded-900.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSans/MuseoSansRounded-900.woff') format('woff'),
    url('/fonts/MuseoSans/MuseoSansRounded-900.ttf') format('truetype'),
    url('/fonts/MuseoSans/MuseoSansRounded-900.svg#MuseoSansRounded-900') format('svg');
    font-weight: 900;
    font-style: normal;
}

body {
    font: 100 1em / 1.5em 'MuseoSansRounded-500',sans-serif !important;
}

#header .header-title .header-name {
    font-family: 'MuseoSansRounded-900';
    font-size: 3.5em;
}

#header .header-title .header-description {
    font-size: 1.2em;
}

#header .header-title .header-description:after {
    width: 150px;
    margin-left: -75px;
}

.post .post-header .post-title {
    color: #163039 !important;
}

.post-content p {
    text-align: justify;
}

#menu .menu-header:before,
#tocMenu .menu-header:before {
    border-bottom-color: #fc544c !important;
}

#header .header-cover:after,
.post .post-title:before {
    border-bottom-color: #fc544c !important;
}

.post-list .post .post-image {
    background: transparent !important;
}

.post-list .post .post-image:after {
    border-top-color: #fc544c !important;
}

.post-list .post .post-more a i {
    color: #fc544c !important;
}

.post-footer .post-tags a:focus,
.post-footer .post-tags a:hover {
    background-color: #163039 !important;
}

.post-content a {
    border-color: #fc544c !important;
}

.post-content a:focus,
.post-content a:hover {
    border-color: #163039 !important;
}

.post-footer .post-tags a:hover {
    text-shadow: 0 0 2px #163039 !important;
}

.post-footer .post-tags a {
    text-shadow: 0 0 2px #fc544c !important;
    background-color: #fc544c !important;
}

.post-nav .post-nav-item .post-nav-teaser .post-nav-icon {
    border-color: #fc544c !important;
}

.post-nav .post-nav-item:focus .post-nav-teaser .post-nav-icon,
.post-nav .post-nav-item:hover .post-nav-teaser .post-nav-icon {
    box-shadow: 0 0 0 25em #fc544c !important;
}

@media only screen and (max-width: 50em) {
    .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-icon,
    .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-icon {
        box-shadow: 0 0 0 2px #fc544c !important;
    }
}

@media only screen and (min-width: 70em) {
    .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-icon,
    .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-icon {
        box-shadow: 0 0 0 25em #fc544c !important;
    }
}

#loader {
    border-top-color: #fc544c !important;
}

#loader:before {
    border-top-color: #fc4128 !important;
}

#loader:after {
    border-top-color: #D4D5D9 !important;
}

#nprogress div.bar {
    background-color: #fc544c !important;
}

#nprogress div.spinner-icon {
    border-top-color: #fc544c !important;
    border-left-color: #fc544c !important;
}

#footer {
    background-color: #163039 !important;
    color: white !important;
    font-size: 0.8em !important;
}

.post-list .post.featured .inner {
    background-color: #163039 !important;
    color: #c1c1c1 !important;
}

.post-list .post.featured .post-title {
    color: white;
}

.post-list .post.post.featured .post-image:after {
    background-color: #163039 !important;
}

.pagination .pagination-item {
    border-color: #fc544c !important;
}

.pagination .pagination-item:focus, 
.pagination .pagination-item:hover {
    box-shadow: 0 0 0 2px #fc544c !important;
}